{% extends 'base.html.twig' %}

{% block body %}
  <div class='container mt-4'>
    <h1> Creates brand </h1>
      {{ include ('brand/_form.html.twig', {button: 'Creates'}) }}
  </div>
{% endblock %}
