{% extends 'base.html.twig' %}

{% block body %}
  <div class='container mt-4'>
    <h1> Edit Category</h1>
      {{ include ('category/_form.html.twig', { button: 'edit'}) }}
  </div>
{% endblock %}
