{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class='container mt-4'>
    <h1> Edit Color </h1>
      {{ include ('admin/color/_form.html.twig', { button: 'edit'}) }}
  </div>
{% endblock %}
