{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class='container mt-4'>
    <h1> Creates Color </h1>
      {{ include ('admin/color/_form.html.twig', {button: 'Creates'}) }}
  </div>
{% endblock %}
